@charset "utf-8";
.frame{
    position: fixed;
}

/**/
body{
    background-image: url(img/back.png);
    /* background-size: cover; */
}
#main_frame{
    top: 10%;
    left: 5%;
    width: 90%;
    height: 45%;

    background-color: #f7f6dc;
    border: solid 2px;
    border-color: black;
    border-radius: 10px;
}
#list_frame{
    bottom: 5%;
    left: 5%;
    width: 40%;
    height: 35%;

    background-color: #f7f6dc;
    border: solid 2px;
    border-color: black;
    border-radius: 10px;
    /* margin: 10px; */

}
#image_frame{
    bottom: 15%;
    right: 5%;
    width: 50%;
    height: 30%;
    /* background-color: rgb(87, 243, 152); */
    background-image: url(img/obatyan.png);
    background-size: cover;
}
#button_frame{
    bottom: 5%;
    right: 5%;
    width: 45%;
    height: 7.5%;

    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    background-color: #ffd803;
}
#load{
    font-size: 150%;
    font-weight: bold;
}

.image_img{
    position:absolute;
    top:40%;
    width: 45%;
    height: 50%;
}

a{
    position:absolute;
    top:92%;
}

h2{
    text-align: center;
}

#name_text{
    position: absolute;
    font-weight:border;
    font-size: 200%;
    top:10%;
    width:100%;
    height:13%;
    text-align: center;
    background-color: black;
    color:red;
}

#review{
    position:absolute;
    top:35%;
    left:55%;
}

/* 変数設定 */
:root {
    position:absolute;
    --star-size: 27px;
    --star-color: #fff;
    --star-background: #fc0;
  }
  /* 星評価のスタイル */
  #rating_star {
    position:absolute;
    top:10%;
    left:3%;
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
  }
  #rating_star::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #rating_text{
    position: absolute;
    top:30%;
    left:45%;
  }

#fieldset{
    position: absolute;
    top:40%;
    color: #fc0;
    height:20%;
}

.legend{
    position: absolute;
    top: 40%;
}
#distance_text{
    left:32%;
    font-size:25px;
    font-weight:bold;
    position:absolute;
    top:0%;
}

.open_now{
    position:absolute;
    background-color:#00ff1a;
    font-size: 100%;
    top:86%;
    left:28%;
    padding:1px;
    border:solid 2px rgb(0, 0, 0);
}

.close_now{
    position:absolute;
    background-color:#ff0000;
    font-size: 100%;
    top:86%;
    left:28%;
    padding:1px;
    border:solid 2px rgb(0, 0, 0);
}

#title_frame{
    top:5%;
    left:5%;
    width: 90%;
    height:90%;
}

#title_name{
    font-family: "Nico Moji";
    font-size: 200%;
    position:absolute;
    top:10%;
    bottom:20%;
    width:100%;
    font-family:"Nico Moji";
    font-size: 45px;
    text-align:center;
}

.start_btn{
    position: fixed;
    top: 70%;
    left: 20%;
    height: 10%;
    width: 60%;

    background-color: #da0707;
    border-radius: 10px;
    border-width: 0px 0px 5px 5px;
    border-color: #9f000c;

    font-family: "Nico Moji";
    font-size: 200%
}